<section id="content" >
<div class="center">
    <h2 class="routetitle">A propos</h2>

    <h3>Exercices</h3>
    <p>
        Le Cardey est un exercice que j'ai découvert durant mes années de lutte au 
        <a href="http://lutte.levallois-sporting-club.fr/">club de Levallois Perret</a>. 
        Je l'ai nommé ainsi en remerciement à <b>Jean-Marc Cardey</b> qui nous a fait transpirer avec.
        <br/>
        L'idée est de travailler en <b>fractionné de 30s/30s</b> sur des cycles d'exercices de <b>renforcement</b>. 
        Un <b>cycle</b> est constitué successivement d'exercices de <b>jambes, de bras, d'abdominaux et de planches</b>.
        <br/>
        L'objectif est de <b>tout donner</b> sur la phase de travail et non d'effectuer un nombre de répétition défini.
        <br/>
        Pour éviter de rentrer dans une routine, les exercices sont sélectionnés <b>aléatoirement</b> dans un panel.
    </p>
    <h3>Techniques</h3>
    <ul>
        <li>Découvrir Svelte avec un cas pratique</li>
        <li>Utiliser GitLab au lieu de GitHub</li>
        <li>Utiliser le CI/CD</li>
    </ul>
    </div>
</section>

<style>
    #content {
        /* width: 80%; */
        position: absolute;
        top:50px;
        bottom: 0px;
        overflow: auto;
    }

    .center {
        margin: 0 auto; /* Center the DIV horizontally */   
        width: 80%;
    }
</style>